* {
  box-sizing: border-box;
}

html, body, main {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

pre {
  border: 1px solid gray;
  padding: 0 5px;
  overflow: auto;
  max-width: 300px;
}

.note {
  color: #aaa;
}

.red {
  color: #F33;
  font-weight: bold;
}

.invisible {
  display: none;
}

.plus {
  margin: 0 12px 0 0;
  font-size: 2.0em;
}

.mdc-form-field {
  flex-direction: column;
  height: 100%;
}

.mdc-text-field, mwc-textfield {
  margin-top: 8px;
}

.visible {
  display: inline-flex;
}

.content {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
}

mwc-button {
  margin: 8px 0;
}
